<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
</head>
<body>
    <div class="h-[100vh] flex justify-center items-center">
        <form action="" class="flex flex-col justify-center items-center gap-2">
            <h1 class="text-3xl font-semibold">LOGIN</h1>
            <div class="flex flex-col w-full">
                <label for="user" class="text-sm">Usuario</label>
                <input id="user" class="bg-gray-200 p-3 rounded-sm w-80 text-sm" type="text" placeholder="Digite seu usuario">
            </div>
            <div class="flex flex-col w-full">
                <label for="pass" class="text-sm">Senha</label>
                <input id="pass" class="bg-gray-200 p-3 rounded-sm w-80 text-sm" type="text" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="cursor-pointer hover:bg-gray-700 bg-gray-800 text-white py-3 rounded-sm w-80 text-sm">ENVIAR</button>
            <p class="text-[12px]">Não tem uma conta ? <a class="font-semibold border-b border-gray-800" href="/register">Cadastre-se</a></p>
            <p class="text-[12px]">Copyright © <span id="year"></span> Sistema</p>
        </form>
    </div>
    <script>
        let year = new Date();
        let span = document.getElementById("year");
        span.innerHTML = year.getFullYear();
    </script>
</body>
</html>