<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/style.css">
    <title>Onlink</title>
</head>
<body>
    <main>
        <div class="container-elements">
            <div class="container-header">
                <div class="container-img">
                    <img src="<?php echo '/Uploads/' . $model -> get_user_data()[0]['url_img'] ?>" alt="imagem usuario">
                </div>
                <div class="container-info">
                    <h1><?php echo $model -> get_user_data()[0]['account_name'] ?></h1>
                    <p><?php echo $model -> get_user_data()[0]['user_desc'] ?></p>
                </div>
            </div>
            <div class="container-links">
                <?php for ($i=0; $i < count($model -> get_user_link()); $i++) { ?>
                    <a href="<?php echo $model -> get_user_link()[0]['link_url'] ?>" class="link"><?php echo $model -> get_user_link()[0]['link_title'] ?></a>
                <?php } ?>
            </div>
            <div class="container-footer">
                <p>Desenvolvido por <a href="">Ontechbrazil</a></p>
            </div>
        </div>
    </main>
</body>
</html>